<h1><%= link_to @student.to_s, activate_student_path(@student) %></h1>
<%if @student.active%>
  <% @student.active = false %>
  <% else %>
  <% @student.active = true %>
<% end %>
<%= @student.active %>
